.chipsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 4px 0;
}

.chipsContainer .chipItem {
    background: #eee;
    margin-right: 8px;
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 100px;
}

.chipsContainer .chipItem b {
    margin-left: 6px;
}
